.global-controls .control-btn {
	width: 60px;
	height: 40px;
}

.global-volume {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 15px;
}

.global-volume .VolumeSlider.isHorizontal  {
	width: 100px;
	margin-top: 0;
}

.global-volume .fa-volume-off {
	margin-top: 0;
}

@media screen and (max-width:980px) {
	.global-controls {
		order: 1;
		margin-bottom: 30px;
	}
}